body {
  background-color: tan;
}

.box {
  background-color: #246454;
  height: 307px;
  width: 250px;
  border-radius: 10px;
  position: relative;
  top: 100px;
  left: 10%;
}

.display {
  background-color: #000000;
  width: 229px;
  position: relative;
  left: 10px;
  top: 14px;
  height: 48px;
}

.display input {
  width: 220px;
  position: relative;
  left: 2px;
  top: 2px;
  height: 40px;
  color: rgb(9, 3, 113);
  background-color: #859560;
  font-size: 30px;
  text-align: right;
}

.keys {
  position: relative;
  top: 7px;
}

.button {
  width: 42px;
  height: 31px;
  border: none;
  border-radius: 8px;
  margin-left: 14px;
  cursor: pointer;
  border-top: 2px solid transparent;
  outline: none;
}

.button.gray {
  color: #ffffffbc;
  background-color: #5c5b5b;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
}

.button.pink {
  color: black;
  background-color: #ab2e41;
  border-bottom: black 2px solid;
}

.button.black {
  color: #ffffffe0;
  background-color: #000000;
  border-bottom: black 2px solid;
  border-top: 2px #303030 solid;
}

.button.orange {
  color: black;
  background-color: #e56b2a;
  border-bottom: black 2px solid;
  border-top: 2px #e56b2a solid;
}

.gray:active {
  border-top: black 2px solid;
  border-bottom: 2px #ffffffbc solid;
}

.pink:active {
  border-top: black 2px solid;
  border-bottom: #ab2e41 2px solid;
}

.black:active {
  border-top: black 2px solid;
  border-bottom: #000000 2px solid;
}

.orange:active {
  border-top: black 2px solid;
  border-bottom: #e56b2a 2px solid;
}

p {
  line-height: 10px;
}

input[disabled] {
  opacity: .5 ;
}

.m{
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 20px;
	z-index: 10;
}

.hidden{
	visibility: hidden;
} 